.fabric/
Distant_Horizons_server_data
XaeroWaypoints
XaeroWaypoints*/
XaeroWorldMap
crash-reports
data
downloads
logs
profile.json
realms_persistence.json
saves/
schematics/
screenshots/
servers.dat*
usercache.json
**/*rubymc.de*
config/jade/usernamecache.json
command_history.txt